
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.App {
  margin: 0;
  max-width: 500px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
}

.game-title {
  color: var(--number-marker);
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}