@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --background-color: #22223B;
  --panel: #9A8C98;
  --digit-bg: #4A4E69;
  --place-and-number-marker: #E23C3C;
  --number-marker: #F2E9E4;
  --change-digit-bg: #C9ADA7;
}

body {
  background-color: var(--background-color);
  box-sizing: border-box;
  width: 100vw;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
